@model HomeViewModel

<div class="jumbotron">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p class="lead">
        Consulta la nostra vetrina virtuale e lasciati ingolosire dalle
        prelibatezze teutoniche della nostra pasticceria!
    </p>
</div>

<section>
    <h3>I dolci attualmente disponibili</h3>
    @foreach (PastryViewModel pastry in Model.AvailablePastriesList)
    {
        if (pastry.Status == TeutonicBakery.Models.Enum.PastryStatus.GoodToSell) 
        { 
            <partial name="Pastries/_Pastry" model="@pastry" />
        }
    }
</section>
